.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--surface);
}

.navLinks {
  list-style: none;
  display: flex;        /* THIS makes the list horizontal */
  gap: 1.5rem;          /* Space between links */
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: var(--foreground);
  font-weight: bold;
}
